* {
    font-size: 1em;
}

body {
    background-color: rgba(100, 100, 100, 0.05)
}

.wrapper {
    max-width: 76.375rem;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 2.75rem;
}


hr {
    border: 0.1rem solid #AEA1A1;
    top: 0.3rem;
}

.Bayan {
    max-width: 60rem;
    margin: auto;
}

.list {
    width: 100%;
    list-style: none;
}

.label {
    display: flex;
    font-size: 1.875rem;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    transform: rotate(0deg);
    color: blue;
}

/* .label span {
    font-size: 1.7em;
    font-weight: bold;
    transition: .7s;
    rotate: 45deg;
} */

.label svg {
    max-width: 1.3rem;
    transition: .7s;
}

.imgClass {
    max-width: 100%;
    height: auto;
}

.memeContent {
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.7s;
    cursor: pointer;

}

.memeStyle {
    display: none;
}

input:checked~.memeContent {
    max-height: 65rem;
}

input:checked+label .svgClass {
    rotate: 180deg;
}

label:hover+.memeContent {
    max-height: 65rem;
}

.list:hover .label {
    color: black;
}

input:checked~.label {
    color: black;
}

.list:hover .svgClass {
    transform: rotate(180deg);
    transition: .7s;
}

@media (max-width: 820px) {
    * {
        font-size: 0.8em;
    }

    .wrapper {
        max-width: 64rem;
    }

    .label {
        cursor: none;
    }

    .memeContent {
        cursor: none;
    }
}

@media (max-width: 320px) {
    * {
        font-size: 0.5em;
    }

    .wrapper {
        max-width: 40rem;
    }

    .label {
        cursor: none;
    }

    .memeContent {
        cursor: none;
    }
}