* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url(assets/fonts/CenturyGothicB3.TTF);
    font-weight: Bold;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url(assets/fonts/CenturyGothicCrv.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url(assets/fonts/CenturyGothicStd.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Italic.otf);
    font-weight: lighter;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Thin.otf);
    font-weight: 100;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header {
    margin max-width: 1440px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
}

main {
    font-family: Montserrat, sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    min-height: 30px;

}

.nav-list {
    font-family: CenturyGothic, sans-serif;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    color: black;
    box-shadow: 0px 3px 0px 0px white;
    transition: 1s;
}

/* Header style end */

.pre {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;

}

.section {
    width: 80%;
    padding: 20px;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    font-family: CenturyGothic, sans-serif;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.contact-title {
    font-family: CenturyGothic, sans-serif;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.section-below-text {
    font-family: CenturyGothic, sans-serif;
    position: relative;
    margin-bottom: 50px;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
}

.section-header-title {
    font-family: CenturyGothic;
    color: white;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

.section-header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    padding: 25px 80px 0px 5px;
}


@media (max-width: 1440px) {
    .container {
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section-below-text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section-header-title {
        font-size: 24px;
        letter-spacing: 4px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 16px;
        letter-spacing: 4px;
    }
}

.avatar {
    padding-left: 70px;
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(0.9) brightness(1.15);
    transition: .5s;
}

.avatar:hover {
    padding: 0%;
    filter: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

@media (max-width: 840px) {
    .avatar {
        display: none;
    }
}

.contact-item {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: .3s;

}

.contact-item:hover {
    filter: none;
    color: rgba(0, 0, 0, 1);
}

.section-head-comb {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

.headCont {
    max-width: 1560px;
    margin: 0 auto;
    position: relative;
    min-height: 30px;
    width: 100%;
}

@media (max-width: 1440px) {
    .headCont {
        padding: 0 0px;
    }
}

@media (max-width: 768px) {
    .headCont {
        width: 100%;
    }
}

.footer {
    /*border-top: 5px solid rgba(0, 0, 0, 0.3);*/
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.git {
    font-family: CenturyGothic, sans-serif;
    position: relative;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.git-link {
    font-family: CenturyGothic, sans-serif;
    position: relative;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    transition: .5s;
}

.git-link:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration-line: underline;
}

.github-icon {
    width: 30px;
    height: 30px;
}

.rs-icon {
    width: 100px;
    height: 30px;
}

.date {
    font-family: CenturyGothic, sans-serif;
    position: relative;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}